ul a{
    color: #756E6E;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
}

ul{
    display: inline-block;
    text-align: center !important;
    margin: 0 auto;
    position: relative;
}

li{
    /* display: inline; */
    text-align: center !important;
    margin: 0 auto;
}

.navbar{
    text-align: center !important;
}
