ul a{
    color: #756E6E;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
}

li{
    display: inline-block;
}

ul{
    display: inline-block;
    text-align: center !important;
    margin: 0 auto;
    position: relative;
}

#inventory {
    height: 20em;
    width: 20em;
}

.deck{
    display: inline-block;
    text-align: center;
    padding-top: 3em;
}

.card{
    text-align: center;
    display: inline-block;
    width: 20em;
    margin: 2em;
    min-height: 30em;
    max-height: 30em;
    vertical-align: top;
}

.navbar {
    text-align: center;
}