#inventory {
    height: 20em;
    width: 20em;
}

.deck{
    display: inline-block;
    text-align: center;
    padding-top: 3em;
}

.card{
    text-align: center;
    display: inline-block;
    width: 20em;
    margin: 2em;
    min-height: 25em;
    max-height: 25em;
    vertical-align: top;
}