@import '@angular/material/prebuilt-themes/purple-green.css';

/* body {
    background-image: url("../../assets/Sparkly2.jpg");
    background-size: cover;
} */

header {
    font-family: 'Dancing Script', cursive !important;
    color: #756E6E !important;
    font-size:5em;
    text-align: center;
}
